<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
     function sendPayment(){
    	 
    	 var dataJson = {"paymentProvider":"VISA_CHECKOUT","paymentID": window.location.search.substring(1).split('=')[1]};
    	 
    	 $.ajax({
    		    type: 'PUT',
    		    url: 'http://apix.sensedia.com/payments',
    		    //url: 'http://localhost:8080/payments',
    		    data: JSON.stringify (dataJson),
    		    success: function(data) { console.log('data: ' + data); },
    		    contentType: "application/json",
    		    dataType: 'json'
    		});
     }
     function onVisaCheckoutReady(){
	     V.init( {
		     apikey: "0TBY6KED0SCKIR9VNL3421NBHeF6lXKQ79nT5qlq1H3ukVEec",
		      paymentRequest:{
		       currencyCode: "BRL",
		       total: "1"
		     }
	     });
	     V.on("payment.success", function(payment){
	    	 console.log(JSON.stringify(payment));
	    	 sendPayment()
	     });
	     V.on("payment.cancel", function(payment){
	    	 console.log('Pagamento cancelado.');
	    	 sendPayment()
	     });
	     V.on("payment.error", function(payment, error){
	    	 console.log('Erro ao realizar pagamento.');
	    	 sendPayment()
	     });
     }
  </script>
  
  <title>Visa Checkout - Payments</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="'OrderId ' + ${id}" />
  <img alt="Visa Checkout" class="v-button" role="button"
     src="https://sandbox.secure.checkout.visa.com/wallet-services-web/xo/button.png"/>
  <script type="text/javascript"
     src="https://sandbox-assets.secure.checkout.visa.com/checkout-widget/resources/js/integration/v1/sdk.js">
  </script>
</body>
</html>